body {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    background-image: url(../images/bluesky.jpg);
  }
  
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  h1,
  h2 {
    font-family: "Lato", sans-serif;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .container {
    background-color: white;
  }
  .wrap {
    padding: 30px;
  }
  .spice {
    margin-bottom: 24px;
    padding: 30px;
  }
 #forecast {
  margin-bottom: 24px;
 }
  .search {
    display: flex;
    align-items: center;
  }
  
  .current-button {
    margin-bottom: 16px;
  }
  
  .temperature {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
  }
  .center {
    margin: 0 auto;
  }
  .date-name {
    display: inline-block;
  }

  .link-c,
  .link-f{
    text-decoration: none;
    font-size: large;
  }

  .link-f:hover,
  .link-c:hover {
    color: grey;
  }
  .btn-current {
    width: 50%;
  }

  .forecast-temperature-min {
    font-size: 30px;
    opacity: 0,04;
    color: gray;
  }
  .description {
    font-size: medium;
  }